services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=circus_db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_PORT=3306

  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_DATABASE=circus_db
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data: